body{
    /*background: url('tim-j-EJ4qfFp1g8Q-unsplash-2.jpg') no-repeat center center fixed; */
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    margin-top: 20%;

}

p{
    text-align: center;
    font-size: 50px;
}

#digital-clock{

    text-align :center;
    font-size: 50px;
    }
    #greet{
        margin-top: 10px;
    }


    .search {
        width: 370px;
        height: 40px;
        margin: 50px auto;
        margin-top: 10px;
        background: #444;
        background: rgba(126, 110, 110, 0.3);
        border: 2px solid;
        border-radius:  7px;

        
    }
    input {
        width: 370px;
        padding: 10px 5px;
        float: left;
        color: #ccc;
        border: 0;
        background: transparent;
        outline-width: 0;
        

    }

    @media (max-width:320px)  { body{ margin-top: 40%; } }
    @media (max-width:480px)  { body{ margin-top: 40%; } }
    @media (max-width:600px)  { body{ margin-top: 40%; } }
    @media (max-width:801px)  { body{ margin-top: 60%; } }
    @media (max-width:1025px) { body{ margin-top: 60%; }}
    @media (max-width:1281px) { body{ margin-top: 40%; }}
    @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3) { 
        body{ margin-top: 70%; }
  }

